// Define params
params {
    covars = "$projectDir/covars.txt"
    outdir = "$projectDir/results"
    datadir = '$projectDir/methylkit_analysis/'
    coverage_dir = "$projectDir/coverage_dir/"
}

// Define HPC profiles to run with job scheduler
profiles {
    // Use this profile to interact with the scheduler on setonix 
    slurm { includeConfig "config/slurm.config" }

    // Use this profile to interact with the scheduler on gadi   
    pbspro { includeConfig "config/pbspro.config" }
}
