// nextflow.config

params.coverage_dir = "/home/projects/cu_10031/data/raw/DNBC_methylation_2023/2025_analysis/child_dataset"

process.executor = 'pbs' 
// Define default resources for all processes.
process.cpus = 12
process.memory = '16GB'
process.time = '2h'


profiles {
    cluster {
        // --- Cluster-wide settings for the 'cluster' profile ---
        // This overrides the global 'pbs' setting
        process.executor = 'slurm' 
        singularity.enabled = true
        singularity.autoMounts = true

        // --- Per-Process Overrides ---
        process {
            withName('data_prep') {
                cpus = 8
                memory = '64GB'
                time = '12h'
            }

            withName('qc_and_plots') {
                cpus = 24
                memory = '64GB'
                time = '12h'
            }
            
            withName('dml_.*') {
               // This is a regular expression that applies to all dml processes
               cpus = 24
               memory = '128GB'
               time = '10h'
            }
        }
    }
}
