// -------------------------------------------------------------------------
// 1. Nextflow Parameters (params)
// -------------------------------------------------------------------------
params {
    outdir = "$projectDir/results"
    covars = "$projectDir/covars_all.csv"
    datadir = "$projectDir"
    coverage_dir = "/****/dataset"
}

// -------------------------------------------------------------------------
// 2. Global Settings
// -------------------------------------------------------------------------
manifest {
    name = 'RRBS_Methylation_Analysis'
    author = 'Simran K'
    version = '1.0'
    description = 'RRBS analysis pipeline using methylKit and R.'
}

// 1. Define the timestamp parameter
params.trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// 2. Update trace, report, timeline, and dag blocks with specific file paths

trace {
    enabled = true 
    overwrite = true 
    file = "./runInfo/trace-${params.trace_timestamp}.txt"
    fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,peak_rss'
}

timeline {
    enabled = true 
    overwrite = true
    file = "./runInfo/timeline-${params.trace_timestamp}.html"
}

report {
    enabled = true 
    overwrite = true
    file = "./runInfo/report-${params.trace_timestamp}.html"
}

dag {
    enabled = true 
    overwrite = true
    file = "./runInfo/pipeline_dag-${params.trace_timestamp}.png"
}

// -------------------------------------------------------------------------
// 3. Profiles (The HPC Cluster Configuration)
// -------------------------------------------------------------------------
// Define HPC profiles to run with job scheduler
profiles {
    cluster { includeConfig "config/hpc.config"}
}



