executor {
    // For high-throughput jobs, these values should be higher
    queueSize = 30
    pollInterval = '5 sec'
    queueStatInterval = '5 sec'
}

process {
    // Load the globally installed singularity module before running any process
    module = 'singularity'
    // Run using the pbspro scheduler on the 'normalbw' queue
    executor = 'pbspro'
    queue = 'normalbw'
    clusterOptions = "-P ${System.getenv('PROJECT')}"
    storage = "scratch/${System.getenv('PROJECT')}"
    cache = 'lenient'
    stageInMode = 'symlink'
}

singularity {
    // Explicitly turns on container execution
    enabled = true
    // Automatically bind-mount working directory on scratch and common system paths
    autoMounts = true
    // Define location of stored container images 
    cacheDir = "/scratch/${System.getenv('PROJECT')}/${System.getenv('USER')}/RRBS_R_and_Nextflow/singularity"
}
