process {
    cpu= 12
    memory = 64.GB
    time = 12.h
    
    // --- Per-Process Resource Overrides ---
       withName('data_prep') {
            cpus = 12
            memory = 64.GB
            time = 12.h
        }

        withName('qc_and_plots') {
            cpus = 12
            memory = 128.GB
            time = 12.h
        }

        withName('dml_.*') {
            cpus = 12
            memory = 128.GB
            time = 20.h
        env = [
        R_NUM_CORES: 12 
    ]
    } 

}
    
