process {
    executor = 'pbspro'
 
    beforeScript = '''
            module load gcc/12.2.0
            module load intel/basekit/INITIALIZE/2023.0.0
            module load intel/basekit/mkl/2023.0.0
            module load cuda/toolkit/
            module load libxkbcommon/1.0.3
            module load R/4.4.0
            module load singularity/4.3.0
            '''

    clusterOptions = "-W group_list=**** -A **** -l nodes=1:ppn=12,mem=128,walltime=20:00:00"
    stageInMode = 'symlink'
    cache = 'lenient'
}

pbspro {
    queueSize = 30
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$projectDir/singularity_cache"
}


